* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clickable {
    color: black;
    text-decoration: none;
}

.clickable:hover {
    cursor: pointer;
    opacity: 0.5;
}

.reset-link {
    color: black;
    text-decoration: none;
}

.reset-link:hover {
    color: black;
    text-decoration: none;
    opacity: 0.5;
}
