* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clickable {
    color: black;
    text-decoration: none;
}

.clickable:hover {
    cursor: pointer;
    opacity: 0.5;
}

.reset-link {
    color: black;
    text-decoration: none;
}

.reset-link:hover {
    color: black;
    text-decoration: none;
    opacity: 0.5;
}

form {
    display: flex;
    flex-wrap: wrap;
}

input {
    width: 100%;
    max-width: 200px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #eee;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.container {
    width: 100%;
    padding: 10px 20px;
}

.container-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.container-row {
    display: flex;
    flex-wrap: wrap;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
